.App {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;
  width: 100%;
  border: 1px solid #454545;

  .Header {
    border: 1px solid #dcdcdc;
    border-style: none solid solid none;
    box-shadow: 0.02em 0.02em 0.5em red;
    background-color: #efefef;
  }

  .Cell {
    border: 1px solid #dcdcdc;
    box-shadow: 0.02em 0.02em 0.5em #efefef inset;
  }
}
